
__pycache__/paintjob.cpython-36.pyc
paintjob_new.py
.DS_Store
__pycache__/paintjob.cpython-37.pyc
*.pyc
*.dds
*.jpg
input/Globex ATS Logo Lineup Pack/mod_description.txt
input/Globex ATS Logo Lineup Pack/snoop.txt
input/Globex ETS 2 Paintjob Pack/mod_description.txt
input/Globex ETS 2 Paintjob Pack/snoop.txt
input/Globex Logo Lineup Pack/mod_description.txt
input/Globex Logo Lineup Pack/snoop.txt
*.dds
truck lists/Globex ATS Logo Lineup Pack.ini
truck lists/Globex ETS 2 Paintjob Pack.ini
truck lists/Globex Logo Lineup Pack.ini
